@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,387;1,387&family=Prompt:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&display=swap');

:root {
    --font-family: "Epilogue", serif;
    --font-optical-sizing: auto;
    --font-weight: 387;
    --font-style: normal;
    --bg-gradient: linear-gradient(135deg, #0f0f0f, #1c1c1c, #292929, #363636, #434343);
    --color-text: #ffffff;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    background: var(--bg-gradient);
    color: #ffffff;
    background-repeat: no-repeat;
}