:root {
  --color-text: #ffffff;
  --color-background: rgba(0, 0, 0, 0.85);
  --font-family: "Consolas", monospace;
  --font-size-base: 14px;
  --font-size-small: 12px;
  --font-size-large: 16px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

#terminal-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.terminal {
  background-color: var(--color-background);
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  max-width: none;
  height: 100%;
  min-height: 400px;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  position: relative;
  backdrop-filter: blur(5px);
  margin: 0;
  box-sizing: border-box;
}

.terminal-header {
  border-bottom: 1px solid var(--color-text);
  padding-bottom: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terminal-buttons {
  display: flex;
  gap: 8px;
}

.terminal-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
}

.terminal-button.close {
  background-color: #ff5f56;
}

.terminal-button.minimize {
  background-color: #ffbd2e;
}

.terminal-button.maximize {
  background-color: #27c93f;
}

.terminal-title {
  color: white;
  font-size: var(--font-size-base);
  font-weight: bold;
}

.terminal-content {
  padding: 10px 0;
  height: calc(100% - 50px);
  overflow-y: auto;
}

.command-line {
  display: flex;
  margin-bottom: 10px;
}

.prompt {
  color: #00ff00;
  margin-right: 10px;
}

.command-input {
  background: transparent;
  border: none;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  width: 100%;
  outline: none;
}

.command-input:disabled {
  opacity: 1;
  color: var(--color-text);
  cursor: default;
  -webkit-text-fill-color: var(--color-text);
}

.command-output {
  margin-left: 20px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 15px;
  background-color: var(--color-text);
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.terminal-output {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 15px;
  line-height: 2;
  /* Satır yüksekliğini 2 katına çıkar */
}

/* Her satırı ayrı bir paragraf olarak göstermek için */
.terminal-output p {
  margin: 0 0 1em 0;
  /* Alt margin ekleyerek satırları ayır */
}
